$pui-green: (
  "C1": #3cc864,
  "C2": #3cbe64,
  "C3": #3cb464,
  "C4": #37aa64,
  "C5": #37a064,
  "C6": #379664
);
$pui-blue: (
  "C1": #3c82c8,
  "C2": #3c78c8,
  "C3": #3c6ec8,
  "C4": #3764c8,
  "C5": #375ac8,
  "C6": #3750c8
);
$pui-red: (
  "C1": #c83c3c,
  "C2": #be3c3c,
  "C3": #b43c3c,
  "C4": #aa1e3c,
  "C5": #a01e3c,
  "C6": #961e3c
);
$pui-yellow: (
  "C1": #c8c83c,
  "C2": #c8be3c,
  "C3": #c8b43c,
  "C4": #d2aa3c,
  "C5": #d2a01e,
  "C6": #d2963c
);
$g-alfa: (
  "H": 0,
  "O1": 0.1,
  "O2": 0.2,
  "O3": 0.3,
  "O4": 0.4,
  "O5": 0.5,
  "O6": 0.6,
  "O7": 0.7,
  "O8": 0.8,
  "O9": 0.9,
  "V": 1
);
