
$pui-green: (
    'C1': #3cc864,
    'C2': #3cbe64,
    'C3': #3cb464,
    'C4': #37aa64,
    'C5': #37a064,
    'C6': #379664
  );
  $g-alfa: (
    "H": 0,
    "O1": 0.1,
    "O2": 0.2,
    "O3": 0.3,
    "O4": 0.4,
    "O5": 0.5,
    "O6": 0.6,
    "O7": 0.7,
    "O8": 0.8,
    "O9": 0.9,
    "V": 1
  );
  body {
    background:grey;
  }
  .pui-notify {
    background-color: white;
    min-width: 230px;
    max-width: fit-content;
    height: 20px;
    padding: 5px 15px;
    border-radius: 6px;
    border-bottom: 1px solid pui-color($pui-green, C1);
  }
  
  @function pui-color($values, $key: C1, $alfa: "V") {
    @if($alfa != "V" && map-has-key($g-alfa, $alfa)) {
      $o: map-get($g-alfa, $alfa);
    }
    @return rgba(map-get($values, $key), $o);
  }
  
  @keyframes pui_notify {
    
  }